@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

header {
    background-color: #1366af;
    font-family: 'Open Sans', sans-serif;
}

.barra-1 {
    text-align: right;
    background-color: #0b2535;
    color: white;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.principal {
    display: grid;
    grid-template-columns: 20% 66% 7% 7%;
    color: white;
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 0;
    /* border: 1px solid black; */
}

.logo {
    margin-left: 10%;
    width: 80%;
    height: auto;
}

.buscador {

    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#buscador {
    width: 93%;
}

#boto {
    background-image: url("assets/iconos/buscador.png");
}

.cuenta {
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
}

.cesta {
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    color: white;
}

.categories {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    color: white;
    text-align: center;
    margin: 0;
    border: 1px solid black;
    background-color: white;
}

.box1 {
    background-color: #084c94;
}

#txt1 {
  color: white;
}

#txt2 {
  color: #1366af;
}

body {
    background-color: grey;
    font-family: 'Open Sans', sans-serif;
}

#banner {
  width: 1425px;
}

/* COMENÇE SLIDESHOW */


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  margin-top: -22px;
  margin-left: 6px;
  padding: 13px;
  color: rgb(0, 0, 0);
  background-color: white;
  text-align: center;
  box-shadow: 0px 0px 30px 0px rgba(150,150,150,0.69);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 5px 5px 5px 5px;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0.5%;
  border-radius: 5px 5px 5px 5px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(255, 255, 255, 0.8);
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 7px;
  width: 20px;
  margin: 0 2px;
  background-color: #bbb;
  /* border-radius: 50%; */
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}