header {
    background-color: #1366af;
}

.barra-1 {
    text-align: right;
    background-color: #0b2535;
    color: white;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.principal {
    display: grid;
    grid-template-columns: 20% 60% 10% 10%;
    color: white;
    margin: 0 auto;
    border: 1px solid black;
}

.logo {
    border: 4px solid black;
    width: 80%;
    height: auto;
}

.buscador {
    border: 4px solid black;

    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#buscador {
    width: 93%;
}

#boto {
    background-image: url("assets/iconos/buscador.png");
}

.cuenta {
    border: 4px solid black;
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
}

.cesta {
    border: 4px solid black;
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
}

.categories {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    color: white;
    text-align: center;
    margin: 0;
    border: 1px solid black;
    background-color: white;
}

.box1 {
    background-color: #084c94;
}

body {
    background-color: grey;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}