@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

header {
    background-color: #1366af;
    font-family: 'Open Sans', sans-serif;
}

.barra-1 {
    text-align: right;
    background-color: #0b2535;
    color: white;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.principal {
    display: grid;
    grid-template-columns: 20% 64% 8% 8%;
    color: white;
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 0;
    /* border: 1px solid black; */
}

.logo {
    margin-left: 10%;
    text-align: right;
    width: 70%;
    height: auto;
}

.buscador {

    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#buscador {
    width: 93%;
}

.topnav {
  overflow: hidden;
  height: 100px;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: center;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 4%;
  font-size: 17px;
  width: 90%;
  border: none;
}

.topnav .search-container button {
  float: center;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #fcd21c;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ffe15b;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}

#boto {
    background-image: url("assets/iconos/buscador.png");
}

.cuenta {
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
}

.cesta {
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
}

.categories {
    display: grid;
    grid-template-columns: 3% auto auto auto auto auto auto;
    color: white;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    height: 50px;
    border: 1px solid black;
    background-color: white;
}

#box1 {
    background-color: #084c94;
}

#box2 {
  margin-top: auto;
  margin-bottom: auto;
  background-color: white;
  color: #1366af;
}

#box3 {
  background-color: #e3f2fa;
  color: #1366af;
}

#txt1 {
  color: white;
}

#txt2 {
  color: #1366af;
  margin-top: auto;
  margin-bottom: auto;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

#banner {
  width: 100%;
}

#titulos {
  color: black;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: bolder;
}


.productes {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  color: white;
  text-align: center;
  margin: 10px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 15%;
  margin-right: 15%;
  /* border: 1px solid black; */
}

/* COMENÇE SLIDESHOW */


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  margin-top: -22px;
  margin-left: 6px;
  padding: 13px;
  color: rgb(0, 0, 0);
  background-color: white;
  text-align: center;
  box-shadow: 0px 0px 30px 0px rgba(150,150,150,0.69);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 5px 5px 5px 5px;
  user-select: none;
}

.next {
  right: 0.5%;
  border-radius: 5px 5px 5px 5px;
}

.prev:hover, .next:hover {
  background-color: rgba(255, 255, 255, 0.8);
}


.dot {
  cursor: pointer;
  height: 7px;
  width: 20px;
  margin: 0 2px;
  background-color: #55c9ff5d;
  /* border-radius: 50%; */
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #1366af;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background-color: #38444d;*/
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

nav ul li {
  float: left;
  width: 15%;
  background-color: white;
}

nav ul li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}*/

nav ul li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* Productes i fotos */

.prodparent {
  display: grid;
  grid-template-columns: 17.25% 4% 17.25% 4% 17.25% 4% 17.25% 4% 17.25%;
  color: white;
  margin: 10px;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}

.slideprod {
  border: 1px solid rgb(190, 190, 190);
  box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.75);
  text-align: center;
}

#fotosprod {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#producte {
  color: black;
}

#preu {
  color: #1366af;
  font-size: 22px;
  font-weight: bold;
}

#veure {
  color: black;
  background: #fcd21c;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  
}

.portades {
  width: 70%;
  height: auto;
  margin-top: 10px;
  margin-left: 15%;
  margin-right: 15%;
}

#portada {
  margin-top: 0;
  width: 100%;
}

.telefonia{
  display: grid;
  grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
  color: white;
  margin: 10px;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 75px;
}

#txttelf{
  text-align: center;
  margin-bottom: 40px;
}

/* FOOTER */

footer {
  background-color: #1d394c;
}

.footerparent {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-left: 15%;
  margin-right: 15%;
}

.footers {
  color: white;
  text-decoration: none;
}

.footers p {
  color: white;
}

.footers h3 {
  color: #fcc01c;
}

/* COMENÇA SERVICIO */

#titolgran{
  font-weight: bolder;
  font-size: 5.5ch;
  color: #084c94;
  margin-left: 15%;
  margin-right: 15%;
}

#h3petit{
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 50px;
  color: rgb(65, 65, 65);
}

#h3petit a{
  text-decoration: underline;
}

.divparent {
  display: grid;
  grid-template-columns: auto 4% auto 4% auto;
  color: black;
  margin: 10px;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 50px;
}

/* .divparent2{
  border: solid 1px black;
} */

.divparent2 h2{
  margin-bottom: 40px;
}

#img2{
  width: 35%;
}

#llista li{
  margin-top: 8px;
  text-align: justify;
}

.categoria1 {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.categoria1 img{
  width: 50px;
}

.prefooter h2{
  text-align: center;
  color: #084c94;
  margin-top: 30px;
  margin-bottom: 30px;
}

.prefooter img{
  width: 1903px;
  height: auto;
  margin-left: auto;
  margin-right: 0;
}

/* COMENÇA CATEGORIA */

.colparent {
  display: grid;
  grid-template-columns: 20% auto;
  margin-left: 15%;
  margin-right: 15%;
}

.colizq a{
  text-decoration: none;
  color: black;
}

.colder{
  margin-top: 125px;
  margin-left: 7%;
  margin-right: 7%;
}

.colder h2{
  text-align: center;
}

.prodparent2 {
  display: grid;
  grid-template-columns: 17.25% 4% 17.25% 4% 17.25% 4% 17.25% 4% 17.25%;
  color: white;
  margin: 10px;
}


#boton {
  height: 20px;
  width: 20px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  border-radius: 4px;
  border: solid 2px grey;
  margin-right: 4px;
  cursor: pointer;
}

.filtros{
  display: block;
}

.textrandom {
  margin-top: 45px;
  margin-bottom: 25px;
}

/* Dropdown Button */
.dropbtn2 {
  background-color: #ffffff;
  color: black;
  padding: 13px;
  font-size: 13px;
  border: 1px solid #2196F3;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn2:hover, .dropbtn2:focus {
  background-color: #f0f0f0;
}

/* The container <div> - needed to position the dropdown content */
.dropdown2 {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content2 a:hover {background-color: #f2f2f2;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.parentdrop{
  display: grid;
  grid-template-columns: auto 75% auto;
}

.btn3 {
  background-color: #ffffff;
  color: #1366af;
  padding: 13px;
  font-size: 13px;
  border: 2px solid #1366af;
  cursor: pointer;
  margin-top: 30px;
  margin-left: 44%;
  margin-bottom: 40px;
}

/* Dropdown button on hover & focus */
.btn3:hover, .btn3:focus {
  background-color: #1366af;
  color: white;
}

.prodslider2{
  margin-right: 18%;
  margin-left: 18%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.prodslider2 h2{
  text-align: center;
}

.top-navbar{
  margin-left: 15%;
}

.top-navbar a{
  color: black;
}

.producte1{
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5%;
}

.producte1-div{
  display: grid;
  grid-template-columns: 10% 60% 30%;
}

.izq img{
  width: 180px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* COMENÇE SLIDESHOW 2 */


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container2 {
  max-width: 100%;
  position: relative;
  margin-left: 10%;
  margin-right: 5%;
  margin-top: 15%;
}



/* Hide the images by default */
.mySlides2 {
  display: none;
}

.prev2, .next2 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  margin-top: -22px;
  margin-left: 6px;
  padding: 13px;
  color: rgb(0, 0, 0);
  background-color: white;
  text-align: center;
  box-shadow: 0px 0px 30px 0px rgba(150,150,150,0.69);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 5px 5px 5px 5px;
  user-select: none;
}

.next2 {
  right: 0.5%;
  border-radius: 5px 5px 5px 5px;
}

.prev2:hover, .next2:hover {
  background-color: rgba(255, 255, 255, 0.8);
}


.dot2 {
  cursor: pointer;
  height: 7px;
  width: 20px;
  margin: 0 2px;
  background-color: #55c9ff5d;
  /* border-radius: 50%; */
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active2, .dot2:hover {
  background-color: #1366af;
}

/* Fading animation */
.fade2 {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade2 {
  from {opacity: .4}
  to {opacity: 1}
}

.botocesta{
  background-color: rgb(255, 208, 0);
  padding: 3%;
  padding-left: 25%;
  padding-right: 25%;
  font-size: 2ch;
}

.especificaciones{
  margin-left: 15%;
  margin-right: 15%;
}

.parent-especificaciones{
  display: grid;
  grid-template-columns: auto auto;
}

.son-especificaciones{
  border: 1px solid black;
}